@model ManyEvents.Models.MCompany

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MCompany</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
